@model CooksCorner.Models.Video

@{
    ViewBag.Title = "Create";
}

<div class="action-content">
        <h4 class="align-center">Create New Video Recipe</h4>

        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true)

           
                <div class="editor-label">
                    @Html.LabelFor(model => model.GenreId, "Genre")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("GenreId", String.Empty)
                    @Html.ValidationMessageFor(model => model.GenreId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.VideortUrl)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.VideortUrl)
                    @Html.ValidationMessageFor(model => model.VideortUrl)
                </div>

                <p>
                    <input class="btn btn-success" type="submit" value="Create" />
                </p>
            
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
