@model CooksCorner.Models.Faq

@{
    ViewBag.Title = "Create";
}
<div class="action-content"> 
    <h4 class="align-center">Create new FAQ</h4>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        

            <div class="editor-label">
                @Html.LabelFor(model => model.Question)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Question)
                @Html.ValidationMessageFor(model => model.Question)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Answer)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Answer)
                @Html.ValidationMessageFor(model => model.Answer)
            </div>

            <p>
                <input class="btn btn-success" type="submit" value="Create" />
            </p>
        
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
